*{
    margin: 0;
    padding: 0;
    box-sizing: border-box;
   
}

html,body{
    background-color: #ffffff;
    color: #434141;
    font-family: Lato,sans-serif;
    font-weight: 400;
    font-size: 20px;
    text-rendering: optimizeLegibility;
    overflow-x: hidden;
}

.row{
    max-width: 1140px;
    margin: 0 auto;
}
h1{
    margin-top: 0px;
    margin-bottom: 20px;
    color:#fff;
    font-size: 240%;
    font-weight: 300;
    word-spacing: 3px;
    letter-spacing: 1px;
    text-transform: uppercase;
}

header{
    background-image: linear-gradient(rgba(0,0,0,0.7),rgba(0,0,0,0.7)),url('img/content/hero.jpg');
    height: 100vh;
    background-size: cover;
    background-position: center;
    background-attachment: fixed;
}

.hero-text-box{
    width: 1140px;
    position: absolute;
    left:50%;
    top: 50%;
    transform: translate(-50%,-50%);
}

.btn{
    display: inline-block;
    padding: 10px 30px;
    text-decoration: none;
    font-weight: 300;
    border-radius: 200px;
    transition: background-color 0.2,border 0.2s, color 0.2;
}

.btn-full{
  background-color: rgb(243, 79, 14);
  border: 2px solid rgb(243, 79, 14);
  /* border-radius: 200px; */
  margin-right: 25px;
  color: #fff;
}

.btn-ghost{
    border: 1px solid rgb(243, 79, 14);
    /* border-radius:200px; */
    color: rgb(243, 79, 14) ;
}

.btn:hover,
.btn:active{
    background-color: rgb(159, 50, 8);
}

.btn-ghost:hover,
.btn-ghost:active{
    border:  1px solid rgb(243, 79, 14);
    color: #fff
}

/* navbar */

.logo{
    width: auto;
    height: 150px;
    /* margin-top: 20px; */
  float: left;
    /* border: 3px solid black; */
}

.main-nav{
    float:right;
    list-style: none;
    margin-top: 30px;
}

.main-nav li{
    display: inline-block;
    margin-left: 40px;
}

#humburger{
    display: none;
}

.main-nav li a:link,
.main-nav li a:visited{
    color:#fff;
    text-decoration: none;
    text-transform: uppercase;
    font-size:90%;
    border-bottom: 2px solid transparent;
    padding: 8px 0;
    transition: border-bottom 0.2s;
}

.main-nav li a:hover,
.main-nav li a:active{
    border-bottom:2px solid rgb(243, 79, 14);
}

/* feature section */

section{
    padding: 80px 0;
    /* width: 100%;
    height: 700%; */
    /* border: 2px solid black; */
    
}

.section-feature{
    /* background-color: #00aced; */
}

h2{ 
    
    font-weight: 300;
    text-transform: uppercase;
    font-size: 180%;
    word-spacing: 2px;
    text-align: center;
    margin-bottom: 30px;
    letter-spacing: 1px;
}

h2:after{
    display: block;
    height: 4px;
    background-color: orangered;
    content: " ";
    width: 100px;
    margin: 0 auto;
    margin-top: 30px;
}

.long-copy{
    margin-left: 15%;
    line-height: 145%;
    width:70%;
    /* text-align: center; */
    /* border: 2px solid #434141; */
}

.box {
    padding: 1%;
    margin: 10%;
}

h3{
    font-weight: 300;
    text-transform: uppercase;
    font-size: 110%;
    margin-bottom: 15px;
}

.box p{
    font-size: 90%;
    line-height: 145%;
}

.big-icon{
    font-size: 350%;
    display: block;
    color:orangered;
    margin-bottom: 10px;
}



/* food section */

.meals-showcase{
    list-style: none;
    width: 100%;
}

.meals-showcase li{
    display: block;
    float: left;
    width: 25%;
}

.meal-photo{
    width: 100%;
    margin: 0;
    overflow: hidden;
    background-color: #000;
    transition: transform 0.5s, opacity 0.5s;
}

.meal-photo img{
    width: 100%;
    height: auto;
    transform: scale(1.15);
    opacity: 0.7;
}

.meal-photo img:hover{
    transform: scale(1.03);
    opacity: 1;
}

.clearfix{
    zoom: 1;
}

.clearfix::after{
  content: '.';
  clear: both;
  display: block;
  height: 0;
  visibility: hidden;
}

 .section-meals{
    padding-top: 0px;
   
 }

/* how to use */
.section-steps{
   
    /* border: 2px solid rgb(20, 19, 18); */
   background-color: #f4f4f4;
}
.row-flex{
    display: flex;

}
.work-step{
    margin-bottom: 50px;
    margin-right: 25px;
}
.steps-box:first-child{
       text-align: center;
       padding-right: 3%;
       margin-top: 30px;
}

.steps-box:last-child{
    padding-left: 3%;
    margin-top: 70px;
}
.app-screen{
    width: 40%;
    transform: translateX(-50px);
    /* box-shadow: 10px 10px 5px #aaaaaa; */
}
.work-step div{
    color:orangered;
    border: 4px solid orangered;
    display: inline-block;
    border-radius: 50%;
    height: 55px;
    width: 55px;
    text-align: center;
    padding: 5px;
    float: left;
    font-size: 150% ;
    margin-right: 25px;
    
}
.work-step:last-of-type{
    margin-bottom: 10px;
}

.btn-app img{
    height: 50px;
    width: auto;
    margin-top: 30px;
}
/* cites section */
.section-cities{
 /* position: absolute; */
}

.box img{
    width: 100%;
    height: auto;
     gap: 100px;
     margin-bottom: 15px;
}

.city-feature{
    margin-bottom: 5px;
}

.icon-small{
   font-size: 120%;
    color: orangered;
    vertical-align: middle;
    margin-top: -5px;
    margin-right: 10px;
}

.omni_id:link,
.omni_id:visited{
    color:orangered;
    text-decoration: none;
    border-bottom: 1px solid orangered;
    padding-bottom: 1px;
}

.omni_id:hover,
.omni_id:active{
    color:#555;
    border-bottom: 1px solid transparent;
    transition:  border-bottom 0.5s,color 0.5s;
}

.section-testimonial{
   
    background-image: linear-gradient(rgba(0, 0, 0, 0.8), rgba(0,0,0,0.8)),url(img/back-customers.jpg);
    background-size: cover;
   
    color: #fff;
    background-attachment: fixed;
}

blockquote{
    padding:2%;
    font-style: italic;
    line-height:175%;
    margin-top: 40px;
    position: relative;
}
cite{
    font-size: 90%;
    display: block;
    /* margin-top: 40px; */
}

cite img{
    height: 45px;
    border-radius: 50%;
    margin-right: 10px;
    vertical-align: middle;

}

blockquote:before{
    content:'\201C';
    font-size: 500%;
    display: block;
    position: absolute;
    top: 0;
    left:-3px;
}

/* section plans */

.section-plans{
    background-color: #f4f4f4;
}

.plan-box{
    background-color: #fff;
    border-radius: 5px;
    width: 90%;
    margin-left: 5%;
}
.plan-box div{
    padding: 15px;
    border-bottom: 1px solid #e8e8e8;

}

.plan-price{
    font-size: 300%;
    margin-bottom: 10px;
    font-weight: 300;
    color: orangered;
}

.plan-price-meal{
    font-size:80%
}

.plan-price span{
    font-size: 30%;

    font-weight: 300;
}

.plan-box ul{
    list-style: none;
}

.plan-box ul li{
    padding: 0 0.5px;
}

/* footer   */

footer{
    background-color: #333;
    font-size: 80%;
    padding: 50px;
}

.footer-nav{
    float: left;
    list-style: none;
    font-size: 120%;
}

.social-links{
    float: right;
    list-style: none;
    font-size: 160%;
}

.footer-nav li,
.social-links li{
  display: inline-block;
  margin-right: 20px; 
  margin-left: 0px;
}

.footer-nav li a:link,
.footer-nav li a:visited,
.social-links li a:link,
.social-links li a:visited{
    text-decoration: none;
    border: 0;
    color:#888;
}

.footer-nav li a:hover{
    color:#ddd;
}

footer p{
    color: #888;
    text-align: center;
    font-size: 100%;
    margin-top: 20px;
}

.fb:hover{
    color: #3b5998;
}

.google:hover{
    color: #dd4b39;
}

.twitter:hover{
    color: #00aced;
}

.insta:hover{
    color: rgb(102, 17, 119);
}